.container {
    width: 100vw;
    padding: 2rem;
    margin-top: 4rem;
    background-color: #fff;
}

.list-feedback {
    overflow: hidden;
}

.logfeedback-container .header {
    margin-bottom: 2rem;
}

.logfeedback-container .header h1 {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 2rem 1.5rem;
    }

    .logfeedback-container {
        margin-top: 1rem;
        overflow: hidden;
    }

    .list-feedback .feedback-card>div:last-child div {
        width: calc(100% /2);
        padding: 0 0.5rem;
    }

    .list-feedback .feedback-card>div:first-child {
        width: 30px;
        height: 20px;
        text-align: center;
        border-radius: 50%;
    }

    .list-feedback .feedback-card>div:last-child div>p {
        overflow-x: hidden;
    }
}