.container {
    width: 100vw;
    padding: 2rem;
    margin-top: 4rem;
    background-color: #fff;
}

.feedback-container {
    padding: 1rem 2rem;
}

.feedback-container .header {
    margin-bottom: 2rem;
}

.feedback-container .header h1 {
    margin-bottom: 0.5rem;
}

.form-container form .form-grouped {
    display: flex;
    column-gap: 2rem;
    overflow: hidden;
}

.form-items {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 1.2rem;
    margin: 0.75rem 0;
}

.form-items p {
    color: red;
    font-size: 14px;
}

.form-items input, select, textarea {
    width: 445px;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: none;
}

.form-items textarea {
    width: 100%;
}

.form-btn button {
    padding: 0.5rem;
    background-color: blue;
    color: white;
    font-size: 18px;
    border: 2px solid blue;
    border-radius: 0.25rem;
    margin: 1rem 2rem 0 0;
    cursor: pointer;
}
