.container {
    width: 100vw;
    padding: 2rem;
    margin-top: 4rem;
    background-color: #f5f9ff;  
}

.home-container {
    display: flex;
    padding: 2rem;
}

.home-container>div:first-child {
    width: 40%;
    padding: 0 3rem;
    margin: 0 0 1rem 0;
}

.home-container>div:first-child h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-container>div:first-child p {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.home-container>div:first-child a {
    height: 2rem;
    width: 5rem;
    background-color: rgba(21, 58, 245, 0.925);
    border-radius: 0.25rem;
    padding: 0.75rem;
    color: #fff;
    text-decoration: none;
}

.home-container>div:last-child {
    flex: 1;
    margin: 1rem 0 0 0;
}

.home-container>div:last-child img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .home-container {
        padding: 1rem 0;
        flex-direction: column;
    }

    .home-container>div:first-child {
        width: 100%;
        padding: 0 0rem;
    }
}