.rating-cards {
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
}

.rating-card::before {
    content: "★";
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 1px rgba(157, 153, 153, 0.783);
}

.rating-cardColor::before {
    content: "★";
    font-size: 45px;
    color: gold;
    -webkit-text-stroke: 0;
}